<a href="https://colab.research.google.com/github/shettyashraya6-boop/practice/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df=pd.read_csv(r"/content/drive/MyDrive/complaints.csv.zip")

In [ ]:
df['Product'].unique()

array(['Credit reporting, credit repair services, or other personal consumer reports',
       'Credit reporting or other personal consumer reports',
       'Student loan', 'Credit card',
       'Money transfer, virtual currency, or money service',
       'Debt collection', 'Credit card or prepaid card',
       'Checking or savings account',
       'Payday loan, title loan, personal loan, or advance loan',
       'Mortgage', 'Credit reporting', 'Prepaid card',
       'Payday loan, title loan, or personal loan',
       'Vehicle loan or lease', 'Debt or credit management',
       'Bank account or service', 'Consumer Loan', 'Payday loan',
       'Money transfers', 'Other financial service', 'Virtual currency'],
      dtype=object)

In [ ]:
df['Product'].value_counts()

Product
Credit reporting or other personal consumer reports                             7430430
Credit reporting, credit repair services, or other personal consumer reports    2163844
Debt collection                                                                  942813
Mortgage                                                                         434226
Checking or savings account                                                      326740
Credit card                                                                      269758
Credit card or prepaid card                                                      206368
Money transfer, virtual currency, or money service                               161867
Credit reporting                                                                 140429
Student loan                                                                     117377
Bank account or service                                                           86204
Vehicle loan or lease                                                             83291
Consumer Loan                                                                     31574
Payday loan, title loan, or personal loan                                         30640
Payday loan, title loan, personal loan, or advance loan                           23243
Prepaid card                                                                      18272
Debt or credit management                                                          6919
Payday loan                                                                        5541
Money transfers                                                                    5354
Other financial service                                                            1058
Virtual currency                                                                     18
Name: count, dtype: int64

In [ ]:
df['Sub-product'].unique()

array(['Credit reporting', 'Federal student loan servicing',
       'General-purpose credit card or charge card', 'Virtual currency',
       'I do not know', 'Other banking product or service',
       'Savings account', 'Payday loan', 'VA mortgage',
       'Checking account', 'Other debt', 'Conventional home mortgage',
       'Medical debt', 'FHA mortgage', 'Conventional fixed mortgage',
       'Mortgage debt', 'Mobile or digital wallet', 'Credit card debt',
       'Other personal consumer report', 'Installment loan',
       'Other (i.e. phone, health club, etc.)',
       'Domestic (US) money transfer', 'General-purpose prepaid card',
       'International money transfer',
       'Home equity loan or line of credit (HELOC)', 'Rental debt', nan,
       'Store credit card', 'Government benefit card',
       'Private student loan', 'Private student loan debt',
       'Other type of mortgage', 'Auto debt', 'Loan', 'Payday loan debt',
       'Telecommunications debt', 'Non-federal student loan', 'Lease',
       'Other mortgage', 'Check cashing service',
       'Personal line of credit', 'Title loan', 'Transit card',
       "Money order, traveler's check or cashier's check",
       'Credit repair services', "Traveler's check or cashier's check",
       'Payroll card', 'Federal student loan debt',
       'Foreign currency exchange', 'Debt settlement', 'USDA mortgage',
       'Other bank product/service', 'Gift card',
       'Mortgage modification or foreclosure avoidance', 'Medical',
       'Manufactured home loan', 'Auto',
       'Home equity loan or line of credit',
       'Other advances of future income', 'CD (Certificate of Deposit)',
       'Conventional adjustable mortgage (ARM)', 'Vehicle loan',
       'Reverse mortgage', 'Credit card', 'Mortgage', 'Money order',
       'Second mortgage', 'Federal student loan',
       'Student loan debt relief', '(CD) Certificate of deposit',
       'Pawn loan', 'Refund anticipation check', 'Gift or merchant card',
       'General purpose card', 'Government benefit payment card',
       'Vehicle lease', 'Earned wage access', 'Credit repair',
       'Cashing a check without an account', 'Mobile wallet',
       'ID prepaid card', 'Check cashing', 'Traveler’s/Cashier’s checks',
       'Other special purpose card',
       'Tax refund anticipation loan or check', 'Student prepaid card',
       'Electronic Benefit Transfer / EBT card'], dtype=object)

In [ ]:
df['Sub-product'].value_counts()

Sub-product
Credit reporting                              9542305
I do not know                                  328550
Checking account                               322711
General-purpose credit card or charge card     320598
Other debt                                     171388
                                               ...
Traveler’s/Cashier’s checks                        88
Student prepaid card                               53
Transit card                                       37
Tax refund anticipation loan or check              29
Electronic Benefit Transfer / EBT card             12
Name: count, Length: 86, dtype: int64

In [ ]:
df = df[['Sub-product', 'Consumer complaint narrative']]
df = df.dropna(subset=['Sub-product', 'Consumer complaint narrative'])
df = df.reset_index(drop=True)
print(df.isna().sum())
print(df.shape)
print(df.head(5))

Sub-product                     0
Consumer complaint narrative    0
dtype: int64
(3521875, 2)
        Sub-product                       Consumer complaint narrative
0  Credit reporting  My credit report contains incorrect and mislea...
1  Credit reporting  Be sure that disputed accounts are taken down ...
2  Credit reporting  I recently obtained my credit report and found...
3     I do not know  I am extremely disappointed and frustrated to ...
4  Credit reporting                         These are not my accounts.

In [ ]:
top_products = df['Sub-product'].value_counts().nlargest(10).index
df = df[df['Sub-product'].isin(top_products)]

In [ ]:
df.shape

(3105714, 2)

sTRATIFIED SAMPLING TO KEEP THE SAME PROPORTION OF VALUES AS IT WAS

In [ ]:
df_reduced = (
    df.groupby('Sub-product', group_keys=False)
      .apply(lambda x: x.sample(frac=600000/len(df), random_state=42))
)

/tmp/ipython-input-3237402551.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(frac=600000/len(df), random_state=42))

In [ ]:
df_reduced.shape

(599999, 2)

In [ ]:
df_reduced['Sub-product'].value_counts()

Sub-product
Credit reporting                              452490
General-purpose credit card or charge card     29955
Checking account                               27493
I do not know                                  22532
Other debt                                     14542
Credit card debt                               14201
Conventional home mortgage                     12012
Domestic (US) money transfer                   11762
Federal student loan servicing                  7614
Loan                                            7398
Name: count, dtype: int64

In [ ]:
df_reduced['Sub-product'].nunique()

10

In [ ]:
df_reduced['Sub-product'].unique()

array(['Checking account', 'Conventional home mortgage',
       'Credit card debt', 'Credit reporting',
       'Domestic (US) money transfer', 'Federal student loan servicing',
       'General-purpose credit card or charge card', 'I do not know',
       'Loan', 'Other debt'], dtype=object)

In [ ]:
label_map = {
    "Checking account": "Bank Account",
    "Domestic (US) money transfer": "Bank Account",

    "Credit card debt": "Credit Card",
    "General-purpose credit card or charge card": "Credit Card",

    "Conventional home mortgage": "Mortgage",

    "Federal student loan servicing": "Loan",
    "Loan": "Loan",
    "Other debt": "Loan",

    "Credit reporting": "Credit Reporting",

    "I do not know": "Don't know"
}

In [ ]:
df_reduced['Department'] = df_reduced['Sub-product'].map(label_map)

In [ ]:
df_reduced['Department'].value_counts()

Department
Credit Reporting    452490
Credit Card          44156
Bank Account         39255
Loan                 29554
Don't know           22532
Mortgage             12012
Name: count, dtype: int64

In [ ]:
df_reduced.shape

(599999, 4)

In [ ]:
df_reduced.head()

,Sub-product,Consumer complaint narrative,product_clean,Department
1747417,Checking account,They called me from XXXX. Caller ID showed Cha...,Bank Account,Bank Account
13281,Checking account,I noticed unauthorized activity in my checking...,Bank Account,Bank Account
2434824,Checking account,PLEASE REMOVE ANY ACCOUNT THAT IS LINKED TO MY...,Bank Account,Bank Account
411544,Checking account,Someone has stolen my identity they have been ...,Bank Account,Bank Account
323483,Checking account,I have not reached a resolution with US Bank. ...,Bank Account,Bank Account

In [ ]:
df_reduced=df_reduced.drop(['product_clean','Sub-product'],axis=1)

In [ ]:
df_reduced.shape

(599999, 2)

In [ ]:
df_reduced.to_csv('/content/drive/MyDrive/Customer_comp/Customer_complaint.csv')

In [ ]:
df1=pd.read_csv(r"/content/Customer_complaint.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/Customer_complaint.csv'

In [ ]:
df1.shape

(599999, 5)